---
import { Image } from "astro:assets";

interface Props {
  institution: string;
  program: string;
  logo: string;
  years?: string;
  description: string;
}

const { institution, program, logo, years, description } = Astro.props;

function parseDescription(desc: string): string {
  return desc
    .replace(/\*\*(.*?)\*\*/g, "<strong>$1</strong>")
    .replace(/\n/g, "<br>");
}

const parsedDescription = parseDescription(description);
---

<div
  class="education-card hover:shadow-[2px_2px_10px] duration-500 hover:shadow-premium/80 relative flex flex-col w-full max-w-[320px] mx-auto cursor-pointer group"
>
  <!-- Contenedor principal de la tarjeta -->
  <div
    class="relative bg-black/50 border-1 border-premium/12 flex flex-col overflow-hidden transition-all duration-500 ease-in-out group-hover:shadow-[0_12px_24px_rgba(255,255,255,0.15)]"
  >
    <!-- Etiqueta superior con los años (opcional) -->
    {
      years && (
        <div class=" bg-white flex ml-auto text-black w-fit mr-0 text-[10px] px-2 py-0.5 ">
          {years}
        </div>
      )
    }

    <!-- Contenido -->
    <div
      class="flex-1 px-3 pt-8 pb-4 flex flex-col justify-between relative z-10 w-full h-full"
    >
      <!-- Texto placeholder -->
      <div class="w-full text-white opacity-80 mx-auto px-2 mt-2">
        <div
          class="relative overflow-hidden transition-all duration-500 ease-in-out max-h-[60px] group-[.is-center-card]/edu:max-h-[240px]"
        >
          <p
            class="text-xs font-light leading-relaxed"
            set:html={parsedDescription}
          />
        </div>
      </div>

      <!-- Sección del logo y la universidad (Pegado abajo) -->
      <div class="flex flex-row items-center justify-start gap-4 mt-auto">
        <!-- Contenedor del logo sin rombo -->
        <div
          class="relative flex-shrink-0 w-30 h-30 flex items-center justify-center p-1"
        >
          <Image
            src={logo}
            alt={institution}
            width={120}
            height={120}
            class="w-full h-full object-contain relative z-10 transition-all duration-500 ease-in-out grayscale group-[.is-center-card]/edu:grayscale-0 group-hover/edu:grayscale-0"
          />
        </div>

        <!-- Nombre de la institución -->
        <h3
          class="text-white text-lg font-light leading-tight text-left whitespace-pre-line tracking-wide"
        >
          {institution}
        </h3>
      </div>
    </div>
  </div>
  <!-- Etiqueta blanca de la carrera -->
  <div
    class="py-2 bg-white w-full flex flex-col justify-center items-center mt-auto"
  >
    <p class="text-xs text-black whitespace-pre-wrap text-center">
      {program}
    </p>
  </div>
</div>
