---
import Projectsbox from "../components/Projectsbox.astro";
import BoxLayout from "../layouts/BoxLayout.astro";
import { getAllProjects } from "../utils/dataUtils";
const projects = getAllProjects();
---

<section id="proyectos" class="h-[120vh]">
    <BoxLayout>
      <h2 class="text-5xl font-Jost font-extrabold mb-10">Proyectos</h2>

      <div class="grid grid-cols-3 justify-center gap-5 mx-auto">
        {projects.slice(0, 6).map((project) => (
          <Projectsbox
            id={project.id}
            title={project.title}
            description={project.description}
            finishDate={project.finishDate}
            status={project.status}
            icon={project.icon}
            techs={project.techs}
            liveUrl={project.liveUrl}
            repoUrl={project.repoUrl}
            imagesUrl={project.imagesUrl}
            features={project.features}
            metrics={project.metrics}
            tags={project.tags}
            images={project.images}
          />
        ))}

      </div>
    </BoxLayout>
  </section>